body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
a {
	text-decoration: none;
}

h1{
	margin-left: 5%;
}
nav {
	float: right;
	
	text-align: center;
	margin: 60px 10px;


}




nav ul {
	list-style: none;
	
	margin: 10px 12px;
	text-align: center;
}

nav li {
	display: inline-block;
}

nav a {
	padding: 10px 12px;
	color: #FCFFF5;
}

header {
	
	background-color: #193441;
	width: 100%;
	margin-bottom: 60px;
	border-bottom: solid 5px black;
	height: 100px;

	

}

#main-logo {
	float: left;
	margin: 20px 30px;
	text-align: left;
	width: 45%;
	color: #D1DBBD;
}

.portrait {

	display: block;
	
	max-width: 140px;
	border-radius: 10%;
	float: left;
	margin: 0 8% 10px 0;

}

#content-home,#content-projects,#content-resume {
	max-width: 900px;
	margin: 0 auto;
}

#ita-details {
	display: block;
	float: left;
	
}

footer {
	clear: both;
	padding-top: 20px;
	text-align: center;
}

.social {
	height: 20px;
	width: 20px;
}

/* RESUME */

.resume-right {
	display: inline-block;
	width: 30%;
	height: 150px;
	float: left;
	border: 1px solid #CCC;
	border-left: none;
	padding-left: 20px;
	
}
.resume-right ul,
.resume-left ul {
	list-style: none;
}
.resume-left {
	display: inline-block;
	width: 60%;
	float: left;
	height: 150px;
	padding-left: 10px;
	border: 1px solid #CCC;

	
}