* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	font-family: 'Lato', sans-serif;

}

a {
	text-decoration: none;
}
/*------header------*/
header {
	/*display: flex;*/
	align-items: center;
	/*justify-content: space-between;*/
	width: 100%;
	height: 60px;
}

#nav-menu {
	float: right;
	margin-right: 30px;
	border-bottom: 2px solid transparent;
	padding-bottom: 50px;
	position: relative;
	/*z-index: 1;*/
	transition: border-bottom 500ms ease-out,
							padding-bottom 500ms ease-out;

	line-height: 50px;
	text-align: center;

}

#nav-menu:hover {
		padding-bottom: 0px;
		border-bottom: 2px solid #CCC;
		/*transform: translateY(-5px);*/

}

#nav-menu li:hover > a {
		transform: translate(0px,3px);
		/*transform: scale(1.1);*/
}

#nav-menu li {
	display: inline-block;
	width: 65px;
	height: 25px;


}

#nav-menu ul li a {
	display: block;
	line-height: 25px;
	font-size: .85em;
	color: black;
	transition: 400ms;
	transition-property: background-color;
	border-radius: 3px;


}

#nav-menu ul li a:hover {
	background-color: rgba(0,0,0,0.85);
	color: white;
}
#main-logo {

	float: left;
	text-align: center;
	color: black;
	margin-left: 30px;
	line-height: 60px;
	vertical-align: middle;

}

#pipe {

	font-family: sans-serif;
	font-weight:200;
	font-size: 30px;
	display: inline-block;
}



#main-logo h1 {
	/*border-right: 1px solid black;*/
	padding-right: 20px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 1.85em;
	display: inline-block;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}


#main-logo h3 {
	font-family: 'Dancing Script', cursive;
	font-size: 1.15em;
	display: inline-block;
	padding-left: 20px;
}

/* -----main body ------*/
#wrapper {
	display: block;
	/*margin: 0 20px 20px 20px;*/
	margin: 20px auto;
	padding-top: 40px;
	background-color: #edeff0;
	border-radius: 5px;
	height: auto;
	min-height: 800px;
	box-shadow: 0px 8px 24px 1px rgba(0,0,0,0.75);
	/*overflow: auto;*/
	width: 95%;
	position: relative;


}

#wrapper h1 {
	margin: 10px 0;
	font-size: 1.85em;
}

#wrapper h2 {

	margin: 0;
	font-size: 1.45em;
}
#wrapper h3 {
	margin: 0;
	font-size: 1.15em;
}

#wrapper p {
	margin: 10px 0;
}

.portrait {

	max-width: 140px;
	border-radius: 10%;
	float: left;
	margin-right: 8%;

}

#content-home,#content-projects,#content-resume,#content-gallery,#content-about {
	display: block;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 5%;
	/*box-sizing: border-box;*/

}

/***** HOME *****/

#content-home h2 {
	margin: 8px 0;
}


#content-home p a {
	color: #13B5FF;
}

 /******GALLERY ***** */
#content-gallery img {
	max-width: 100%;
	/*width: 200px;
	height: 200px;*/
}

#content-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#content-gallery li {
	float: left;
	width: 28.3333%;
	height: auto;
	margin: 2.5%;

}

#content-gallery li:nth-child(3n+1) {
	clear: left;
}

#content-gallery li a p {
	margin: 0;
	padding: 3% 5% 0 5%;
	font-size: .75em;
}

.container-lightbox {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
	display: none;
}

.lightbox-content {
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	background-color: white;
	display: block;
}
.lightbox-wrapper {
	padding: 25px 15px;

}

#lightbox-img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;

	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);

}

#close-btn {
	float: right;
	background-color: transparent;
	background-size: cover;
	background-image: url('../img/close-circle.png');
	width: 20px;
	height: 20px;
	border: none;
	margin-right: 3px;
	margin-top: 3px;

}
#close-btn:hover {
	cursor: pointer;
	outline: 0.5px solid #CCC;
}

#ita-details {
	display: block;
	float: left;

}

/******FOOTER******/
footer {
	clear: both;
	padding: 20px 0;
	text-align: center;
}

.social {
	height: 20px;
	width: 20px;
}

/************* RESUME */

/*#content-resume ul {
	list-style: none;
}*/
#content-resume a {
	color: #13B5FF;
}

#content-resume h3 {
	font-style: italic;
}

#content-resume h2 {
	margin: 8px 0;
}
.resume-header ul {
	list-style: none;
}
.job-title h3 {
	text-align: left;
	float: left;
}
.job-title {
	list-style-type: none;
}
.job-date {
	float: right;
	/* line-height: 1.15em; */

}

.job-border {
	border-top: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
	display: block;
	height: 24px;
	line-height: 24px;

}
.resume-exp, .resume-skills, .resume-header {
	border-bottom: 3px double #CCC;
	margin: 5px 0;

}
ul.job-list {
	list-style: disc;
	padding-left: 20px;
	clear: both;
}
.job-desc {
	margin: 3px 0;
	 /* clear: both; */
	 /* float: left; */
}
.job-date {
	font-size: 14px;
	/* margin: 5px 0; */
	color: #116CE8;
}
div.resume-skills {
	clear: both;
}
div.resume-skills h3 {
	margin-bottom: 5px;

}

li.job-title > h3 {
	padding-left: 0px;

}

.resume-skills ul {
	list-style: none;

}
.resume-skills li.job-desc {
	padding-left: 5px;
}

/*********PROJECTS*******/

.projects-header {
	margin: 0 auto;
	text-align: center;
}
ul.assorted-projects {
	list-style-type: none;
	padding: 0;
}

.assorted-projects-container {
	display: block;
	width: 800px;
	border-top: 2px solid black;
	margin: 0 auto;
	text-align: center;
}

.assorted-projects-container h3 {
	margin: 10px 0 !important;
}

ul.assorted-projects {
	margin-top: 10px;
}

.container-projects-ita {
	max-width: 1200px;
}
ul.video-list {
	padding: 0 15px;
	max-width: 950px;
	margin: 0 auto;
}
.video-list li {
	list-style-type: none;
	display: inline-block;
	margin: 25px;
}

.video-link a,.video-link a:visited,a.assorted-link,a.assorted-link:visited {
	text-decoration: none;
	color: #116CE8;
}
.video-link {
	text-align: center;
}
div.video-link {
	width: 80%;
	margin: 0 auto;
	border-top: 1px solid black;
	padding-top: 10px;
	margin-top: 5px;
}

.video-link a {
	margin: 0 auto;
	display: block;
}

.video-link a:hover,a.assorted-link:hover {
	text-decoration: underline;
}

video {
	width: 400px;
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;

}

video.react-people {
	background-image: url('https://i1.ytimg.com/vi/Yyth7VlkW70/maxresdefault.jpg');
	
}

video.week5toy {
	background-image: url('https://i1.ytimg.com/vi/SVQreMGyyC4/maxresdefault.jpg');
}

video.week6ajax {
	background-image: url('https://i1.ytimg.com/vi/ssywHFpSYG8/hqdefault.jpg');
}
video.nodeToy {
	background-image: url('https://i1.ytimg.com/vi/wtAmIncAEhc/maxresdefault.jpg');
}
video.phpToy {
	background-image: url('https://i1.ytimg.com/vi/cTix0c2DysM/maxresdefault.jpg');
}
video::-webkit-media-controls {
    display:none !important;
}
/******CONTACT******/

#content-contact {
	width: 40%;
	margin: 0 auto;
	border: 1px solid #777;
	border-radius: 5px;
	background-color: white;

}

#contactForm {
	padding: 20px;
}
#contactForm label {
	display: block;
	margin-top: 10px;
}

#contactForm input {
	height: 25px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 14px;
	padding-left: 8px;
}

#contactForm h2 {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 15px;
	text-decoration: underline;
}

#contactForm input[type="submit"] {
	display: block;
	font-size: 14px;
	margin-top: 15px;
	padding: 0;
	width: 100px;
	background-color: #1F44FF;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.formError {
	font-size: 10px;
	color: red;
	padding-left: 5px;

}



@media screen and (max-width: 480px) {

	#content-gallery li {
	float: left;
	width: 28.3333%;
	margin: 2.5%;

	}

}
/*
@media screen and (min-width: 660px) {

	nav {
		float: right;
		margin-right: 5%;
		margin-top: 15px;
		text-align: right;
		width: 45%;
	}
	#main-logo {
		float: left;
		width: 15%;
		margin: 10px 0;
	}
	.job-date {
		float: right;
		width: 40%;
		text-align: right;
	}
	.job-title {
		float: left;
		width: 60%;
		overflow: auto;
		margin-bottom: 5px;
	}
}*/
