* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;

}

a {
	text-decoration: none;
}
/*------header------*/
header {
	/*display: flex;*/
	align-items: center;
	/*justify-content: space-between;*/
	width: 100%;
	height: 60px;
}

#nav-menu {
	float: right;
	margin-right: 30px;
	border-bottom: 2px solid transparent;
	padding-bottom: 50px;
	position: relative;
	/*z-index: 1;*/
	transition: border-bottom 500ms ease-out,
							padding-bottom 500ms ease-out;

	line-height: 50px;
	text-align: center;

}

#nav-menu:hover {
		padding-bottom: 0px;
		border-bottom: 2px solid #CCC;
		/*transform: translateY(-5px);*/

}

#nav-menu li:hover > a {
		transform: translate(0px,3px);
		/*transform: scale(1.1);*/
}

#nav-menu li {
	display: inline-block;
	width: 65px;
	height: 25px;


}

#nav-menu ul li a {
	display: block;
	line-height: 25px;
	font-size: .85em;
	color: black;
	transition: 400ms;
	transition-property: background-color;
	border-width: 1px solid transparent;
	border-radius: 3px;


}

#nav-menu ul li a:hover {
	background-color: rgba(0,0,0,0.75);
	color: white;
}
#main-logo {

	float: left;
	text-align: center;
	color: black;
	margin-left: 30px;
	line-height: 60px;
	vertical-align: middle;

}

#pipe {

	font-family: sans-serif;
	font-weight:200;
	font-size: 30px;
	display: inline-block;
}

/*#main-logo h1::after {
	content: "|";
	color: black;
	padding-left: 10px;
	font-weight: normal;
	font-family: sans-serif;
	font-size: 1.85em;
	height: 30px;
	line-height: 60px;
	margin: 0;
}*/

#main-logo h1 {
	/*border-right: 1px solid black;*/
	padding-right: 20px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: 700;
	font-size: 1.85em;
	display: inline-block;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}


#main-logo h3 {
	font-family: 'Dancing Script', cursive;
	font-size: 1.15em;
	display: inline-block;
	padding-left: 20px;
}

/* -----main body ------*/
#wrapper {
	display: block;
	/*margin: 0 20px 20px 20px;*/
	margin: 20px auto;
	padding-top: 40px;
	background-color: #edeff0;
	border-radius: 5px;
	height: auto;
	min-height: 800px;
	box-shadow: 0px 8px 24px 1px rgba(0,0,0,0.75);
	/*overflow: auto;*/
	width: 95%;
	position: relative;


}

#wrapper h1 {
	margin: 10px 0;
	font-size: 1.85em;
}

#wrapper h2 {

	margin: 0;
	font-size: 1.45em;
}
#wrapper h3 {
	margin: 0;
	font-size: 1.15em;
}

.portrait {

	max-width: 140px;
	border-radius: 10%;
	float: left;
	margin: 0 8% 10px 0;

}
#content-home h2 {
	margin: 8px 0;
}
#content-home,#content-projects,#content-resume,#content-gallery {
	display: block;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 5%;
	/*box-sizing: border-box;*/

}

 /******GALLERY ***** */
#content-gallery img {
	max-width: 100%;
	/*width: 200px;
	height: 200px;*/
}

#content-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#content-gallery li {
	float: left;
	width: 28.3333%;
	margin: 2.5%;

}

#content-gallery li a p {
	margin: 0;
	padding: 3% 5% 0 5%;
	font-size: .75em;
}

.container-lightbox {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.5);
	display: none;
}

.lightbox-content {
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	background-color: white;
	display: block;
}
.lightbox-wrapper {
	padding: 20px 15px;
}

#lightbox-img {
	display: block;
	width: 100%;

}

#close-btn {
	float: right;
	background-color: transparent;
	border: 1px solid black;

}

#ita-details {
	display: block;
	float: left;

}

/******FOOTER******/
footer {
	clear: both;
	padding: 20px 0;
	text-align: center;
}

.social {
	height: 20px;
	width: 20px;
}

/************* RESUME */

/*#content-resume ul {
	list-style: none;
}*/
#content-resume a {
	color: #13B5FF;
}

#content-resume h3 {
	font-style: italic;
}

#content-resume h2 {
	margin: 8px 0;
}
.resume-header ul {
	list-style: none;
}
.job-title {
	float: left;
	display: inline-block;
}
.job-date {
	float: right;
	display: inline-block;
	line-height: 1.15em;
}
.resume-exp, .resume-skills, .resume-header {
	border-bottom: solid 1px #CCC;
	margin: 5px 0;

}
ul.job-list {
	list-style: disc;
	padding-left: 20px;
}
.job-desc {
	margin: 3px 0;
  clear: both;
}
.job-date {
	font-size: 14px;
	margin: 5px 0;
	color: #116CE8;
}
div.resume-skills h3 {
	margin-bottom: 5px;
}

li.job-title > h3 {
	padding-left: 0px;

}

.resume-skills ul {
	list-style: none;

}
.resume-skills li.job-desc {
	padding-left: 5px;
}

/*********PROJECTS*******/

.projects-list {
	list-style-type: none;
	margin: 30px 0;
}

.projects-list > li {
	width: 75%;
	height: 40px;
	background-color: #083470;
	border-radius: 3px;
	color: white;
	cursor: pointer;
	margin: 3px auto;
	text-align: center;
	line-height: 40px;
}

.downArrow:after {
	content: "\2228";
	padding-left: 8px;
	font-size: 16px;
}

.upArrow:after {
	content: "\2227";
	padding-left: 8px;
	font-size: 16px;
}

.projects-sublist {
	padding-left: 60px;
	font-size: .85em;


}
.projects-sublist ul {
	list-style: disc;
	width: 75%;
	margin: 8px auto;
}

.projects-sublist p {
	margin-top: 5px;
	width: 75%;
	margin: 8px auto;
}

.projects-sublist a {
	color: #1F44FF;
}

.noneDisplay {
	display: none;
}

.opacityHidden {
	opacity: 1;
}

#content-projects h2 {
	margin-bottom: 8px;
}

/******CONTACT******/

#content-contact {
	width: 40%;
	margin: 0 auto;
	border: 1px solid #777;
	border-radius: 5px;
	background-color: white;

}

#contactForm {
	padding: 20px;
}
#contactForm label {
	display: block;
	margin-top: 10px;
}

#contactForm input {
	height: 25px;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: 14px;
	padding-left: 8px;
}

#contactForm input::placeholder {
	opacity: .25;
}
#contactForm h2 {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 15px;
	text-decoration: underline;
}

#contactForm input[type="submit"] {
	display: block;
	font-size: 14px;
	margin-top: 15px;
	padding: 0;
	width: 100px;
	background-color: #1F44FF;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.formError {
	font-size: 10px;
	color: red;
	padding-left: 5px;

}


/*
@media screen and (min-width: 480px) {

	#content-gallery li {
	float: left;
	width: 28.3333%;
	margin: 2.5%;

	}

}

@media screen and (min-width: 660px) {

	nav {
		float: right;
		margin-right: 5%;
		margin-top: 15px;
		text-align: right;
		width: 45%;
	}
	#main-logo {
		float: left;
		width: 15%;
		margin: 10px 0;
	}
	.job-date {
		float: right;
		width: 40%;
		text-align: right;
	}
	.job-title {
		float: left;
		width: 60%;
		overflow: auto;
		margin-bottom: 5px;
	}
}*/
